binpacking*
tester

nohup.out

Unknown
NextFit
FirstFit
FirstFitDecreasing
BestFit
BestFitDecreasing
PackingConstraint
BinCompletion
ModifiedFirstFitDecreasing

UNKNOWN_RESULTS
NEXTFIT_RESULTS
FIRSTFIT_RESULTS
FIRSTFITDECREASING_RESULTS
BESTFIT_RESULTS
BESTFITDECREASING_RESULTS
PACKINGCONSTRAINT_RESULTS
BINCOMPLETION_RESULTS
MODIFIEDFIRSTFITDECREASING_RESULTS